<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQCEvaluationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1813/QCEvaluationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQCEvaluationService"
                contract="QCEvaluationServiceReference.IQCEvaluationService"
                name="BasicHttpBinding_IQCEvaluationService" />
        </client>
    </system.serviceModel>
</configuration>