<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQcConfigurationService" />
        <binding name="BasicHttpBinding_ILabConfigurationService" />
        <binding name="BasicHttpBinding_IQCEvaluationService" />
        <binding name="BasicHttpBinding_IQCRoutineService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1812/QCConfigurationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQcConfigurationService"
        contract="QCConfigurationServiceReference.IQcConfigurationService"
        name="BasicHttpBinding_IQcConfigurationService" />
      <endpoint address="http://localhost:1814/LabConfigurationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILabConfigurationService"
        contract="LabConfigurationServicesReference.ILabConfigurationService"
        name="BasicHttpBinding_ILabConfigurationService" />
      <endpoint address="http://localhost:1813/QCEvaluationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQCEvaluationService"
        contract="QCEvaluationServiceReference.IQCEvaluationService"
        name="BasicHttpBinding_IQCEvaluationService" />
      <endpoint address="http://localhost:1815/QCRoutineService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQCRoutineService"
        contract="QCRoutineServicesReference.IQCRoutineService" name="BasicHttpBinding_IQCRoutineService" />
      <endpoint address="http://localhost:1815/QCRoutineService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQCRoutineService"
        contract="QCRoutineServiceReference.IQCRoutineService" name="BasicHttpBinding_IQCRoutineService" />
    </client>
  </system.serviceModel>
</configuration>