<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQCEvaluationService" />
        <binding name="BasicHttpBinding_IQcConfigurationService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:48560/QCEvaluationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQCEvaluationService"
        contract="QCEvaluationServicesReference.IQCEvaluationService"
        name="BasicHttpBinding_IQCEvaluationService" />
      <endpoint address="http://localhost:42153/QCConfigurationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQcConfigurationService"
        contract="QCConfigurationServiceReference.IQcConfigurationService"
        name="BasicHttpBinding_IQcConfigurationService" />
    </client>
  </system.serviceModel>
</configuration>