<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQCRoutineService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1815/QCRoutineService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQCRoutineService"
                contract="QCRoutineServiceReference.IQCRoutineService" name="BasicHttpBinding_IQCRoutineService" />
        </client>
    </system.serviceModel>
</configuration>