<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQcConfigurationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1812/QCConfigurationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQcConfigurationService"
                contract="QCConfigurationServiceReference.IQcConfigurationService"
                name="BasicHttpBinding_IQcConfigurationService" />
        </client>
    </system.serviceModel>
</configuration>